# Environment variables
.env
.env.local
.env.*.local

# Project Specific
/output/
**/__pycache__/

# Python
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.ipynb_checkpoints
venv/
.venv/
env/
.env/

# OS / IDE
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/

# Node / Web App
app/node_modules/
app/dist/
app/.env
app/.env.local
app/db/migrations/*.sql
